@page
@model SemesterProjekt.Pages.Eventmodel.ClubmemberToEventEditModel
@using SemesterProjekt.Interfaces;
@using SemesterProjekt.Model;
@inject IClubMemberRepository clubrepo;
@inject IEventRepository eventrepo;
@{
    ViewData["title"] = "edit a clubmember to event";
}
@*Anders*@

<form method="post">
    <div class="form-group">
        <select asp-for="@Model.ClubmemberToEvent.EventID" class="form-control" asp-items="@Model.EventNames">
            <option value="">-- Select event---</option>
        </select>
    </div>
    <div class="form-group">
        <select asp-for="@Model.ClubmemberToEvent.ClubMemberID" class="form-control" asp-items="@Model.ClubmemberNames">
            <option value="">-- Select Boat---</option>
        </select>
    </div>
    <div class="formgroup">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>