@page
@model SemesterProjekt.Pages.Eventmodel.DeleteEventModel
@{
    ViewData["title"] = "edit an event";
}
@*Anders*@

<p>
    @Model.Event.Name
    @Model.Event.Description
    @Model.Event.FromDate
</p>
<form method="post">
    <input asp-for="@Model.Event.Id" type="hidden" />
    <input type="submit" value="Delete" class="btn btn-primary"/>
    <a asp-page="EventIndex" class="btn cancelbutton">Cancel</a>
</form>
