@page
@model SemesterProjekt.Pages.Eventmodel.EventIndexModel
@using SemesterProjekt.Model
@{
    ViewData["title"] = "eventindex";
}
<h1>liste over events</h1>

<a asp-page="AddEvent"> create a new rentalperiod</a>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
    </thead>
    <tbody>
        @foreach(var item in Model.Events)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Date</td>
            </tr>
        }
    </tbody>
</table>