@page
@model SemesterProjekt.Pages.Blogmodel.DeleteBlogPostModel
@{
	ViewData["Title"] = "delete a blog";
}
<h1>delete a blog</h1>
<p>
	<h1>@Model.Post.Title</h1>
	<h1>@Model.Post.Text</h1>
</p>
<form method="post">
	<input asp-for="@Model.Post.PostId" type="hidden" />
	<input type="submit" value="Delete" class="btn btn-primary"/>
	<a asp-page="IndexBlog" class="btn cancelbutton">Cancel</a>
</form>
