@page
@model SemesterProjekt.Pages.Blogmodel.IndexBlogModel
@using SemesterProjekt.Model
@{
	ViewData["title"] = "Blog";
}

<h1>Blog Posts</h1>
<a asp-page="AddBlogPost" class="btn btn-primary">New Blog Post</a>
<form method="post">
	<p>
		<input type="text" asp-for="@Model.FilterCriteria" class="search" />
		<button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
	</p>
</form>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>PostId</th>
			<th>Title</th>
			<th>Text</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.Posts)
		{
			<tr>
				<td>
					<img src="~/Images/BlogImages/@item.PostImage" class="rounded-circle" width="80" height="70">
				</td>
				<td>@item.PostId</td>
				<td>@item.Title</td>
				<td>@item.Text</td>
				<td> <a asp-page="EditBlogPost" asp-route-postId=@item.PostId class="btn btn-primary">Edit</a></td>
				<td> <a asp-page="DeleteBlogPost" asp-route-postId=@item.PostId class="btn btn-primary">Delete</a></td>
			</tr>
		}
	</tbody>
</table>

