@page
@model SemesterProjekt.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Account log-in";
}
<h1>Account log-in</h1>
<form method="post">
    Email: <input type="text" asp-for="@Model.Email" /><br />
    Password: <input type="text" asp-for="@Model.Password" /><br />
    <input type="submit" value="Log in" />
</form>
