@page
@model SemesterProjekt.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Account log-in";
}
<h1>Account log-in</h1>
<form>
    Email: <input type="text" asp-for="LoginEmail" /><br />
    Password: <input type="text" asp-for="LoginEmail" /><br />
    <input type="submit" value="Log in" />
</form>
